name: Deploy API to Fly.io

on:
  push:
    branches:
      - main
    paths:
      - "apps/api/**"
      - ".github/workflows/fly-deploy.yml"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flyctl
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Deploy
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
        run: flyctl deploy --config apps/api/fly.toml --app "${{ secrets.FLY_APP_NAME }}"
